.resetPasswordContainer {
  &__root {
    padding: 24px;
    width: auto;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
  }

  &__input {
    height: 56px;
    border-radius: 4px;
  }

  &__title {
    width: max-content !important;
    height: 26px !important;
    margin: auto !important;
    font-family: Roboto;
    font-size: 20px !important;
    font-weight: 500 !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: normal !important;
    letter-spacing: 0.15px !important;
    color: #1565c0 !important;
  }

  &__passwordShould {
    height: 16px;
    padding-bottom: 30px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #78909c;
  }

  &__label {
    width: 60px;
    height: 16px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 1.25px;
    color: #002f6c;
  }

  &__updateButton {
    width: 334px;
    height: 36px;
    border-radius: 4px;
    background-color: #fbc02d !important;
  }

  &__passwordUpdated {
    width: 206px !important;
    height: 19px !important;
    font-family: Roboto !important;
    font-size: 14px !important;
    font-weight: normal !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: normal !important;
    letter-spacing: normal;
    color: #1565c0;
  }

  &__loginButton {
    width: 87px;
    height: 36px;
    border-radius: 4px;
    color: white !important;
    background-color: #002f6c !important;
  }
}
