$primary-bg: #f5f5f5;
$themeYellow: yellow;
$themeGreen: #4a9833;
$themeWhite: #fff;
$txtDefault: #000;
$bgWhite: #fff;
// Theme White
$defaultBg: #fff;
$bgMain: #84754e;
$bgDisable: #aeb3c1;
$defaultTextColor: #000;
$defaultBorder: #f5f5f5;
$borderBottom: #cf0101;
$iconColor: #ffde00;
$border: #4a9833;
$borderOne: #ccc;
$borderTwo: #84754e;
$borderThree: #ff5722;
$borderFour: #ffde00;
$txtSuccess: #4a9833;
$txtWarning: #ffde00;
$txtDanger: #cf0101;
$txtOrange: orange;
$txtInfo: #84754e;
$txtGray: #63666a;
$txtBlack: #000;
$txtWhite: #fff;
$bgWhite: #fff;
$bgSuccess: #4a9833;
$bgDanger: #cf0101;
$bgWarning: #f3f3f3;
$bgBlack: #000;
$bgOrange: orange;
$bgLightGray: #f5f5f5;
$bgGray: #63666a;
// Yellow Theme
$primaryBg: #ffa200;
$pbgMain: #84754e;
$primaryTextColor: #fff;
$primaryBorder: #f5f5f5;
$pborderBottom: #115594;
$piconColor: #ffeb3b;
$pborder: #cf0101;
$pborderOne: #f5f5f5;
$pborderTwo: #4a9833;
$pborderThree: #ff5722;
$pborderFour: #ffde00;
$ptxtSuccess: #4a9833;
$ptxtWarning: #ffde00;
$ptxtDanger: #cf0101;
$ptxtOrange: orange;
$ptxtInfo: #84754e;
$ptxtGray: #666666;
$ptxtBlack: #000;
$ptxtWhite: #fff;
$pbgWhite: #fff;
$pbgSuccess: #ffde00;
$pbgDanger: #cf0101;
$pbgWarning: #ffde00;
$pbgBlack: #000;
$pbgOrange: orange;
$pbgLightGray: yellow;
$pbgGray: #666666;

// #4A9833 Theme
// $quaternaryBg: #4a9833;
// $qbgMain: #84754e;
// $quaternaryTextColor: #fff;
// $quaternaryBorder: #f5f5f5;
// $qborderBottom: #115594;
// $qiconColor: #fff;
// $qborder: #cf0101;
// $qborderOne: #f5f5f5;
// $qborderTwo: #4a9833;
// $qborderThree: #ff5722;
// $qborderFour: #ffde00;
// $qtxtSuccess: orange;
// $qtxtWarning: #ffde00;
// $qtxtDanger: #cf0101;
// $qtxtOrange: orange;
// $qtxtInfo: #84754e;
// $qtxtGray: #666666;
// $qtxtBlack: #000;
// $qtxtWhite: #fff;
// $qbgWhite: #fff;
// $qbgSuccess: #4a9833;
// $qbgDanger: #cf0101;
// $qbgWarning: #ffde00;
// $qbgBlack: #000;
// $qbgOrange: orange;
// $qbgLightGray: #f5f5f5;
// $qbgGray: #666666;
