.toolbar {
  height: 69px;
  background-color: #002f6c;
}

.center-align {
  flex: 1;
}

.right-align {
  margin-left: auto;
}

.hr {
  width: 1px;
  height: 69px;
  opacity: 0.3;
  border: solid 1px #1565c0;
  background-color: #d8d8d8;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-dropdowns {
  position: static;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.13px;
  color: #e8eaf6;
  cursor: pointer;
}

.icons {
  color: #1565c0;
}

.hrms-logo {
  height: 40px;
}

.flag-logo {
  height: 14px;
}
.profile-pic {
  height: 32px;
  width: 32px;
}

.text {
  color: rebeccapurple;
  margin-top: 100px;
}

.mobile-menu {
  display: none;
}
